.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #DCC1AB;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
    z-index: 3;
  }

.scroll-to-top img {
    margin: 0.4rem 0.57rem;
    width: 1.4rem;
}

.scroll-to-top:active {
    height: 60px;
}

/* Dla monitora (min szerokość 1024px) */
@media (min-width: 1024px) {
    .scroll-to-top {
        bottom: 40px;
        right: 40px;
        width: 70px;
        height: 70px;
      }
    
    .scroll-to-top img {
        margin: 0.8rem 1.23rem;
        width: 2rem;
    }
    
    .scroll-to-top:hover {
        height: 90px;
    }    
}